
<!-- side-bar-header --->
<div class="side-bar-header">
  <div class="header-name">
    <%= link_to edit_user_path(current_user) do %>
    <!-- pathの後ろに(current_user)きてるのなぜ？ -->
    <!-- 「edit_user_path」に(current_user)変数を引数としてわたすことで、(current_user)変数に入っているユーザーデータのidを元にリンク先を設定してくれる。-->
      <%= current_user.name %>
    <% end %>
  </div>
  <div class="create-room">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>
<!-- rooms --->
<div class="rooms">
  <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
        <%= link_to room.name, room_messages_path(room) %>
      </div>
    </div>
  <% end %>
</div>
