
<!-- side-bar-header --->
<div class="side-bar-header">
  <div class="header-name">
    <%= link_to edit_user_path(current_user) do %>
    <!-- pathの後ろに(current_user)きてるのなぜ？ -->
    <!-- 「edit_user_path」に(current_user)変数を引数としてわたすことで、(current_user)変数に入っているユーザーデータのidを元にリンク先を設定してくれる。-->
      <%= current_user.name %>
    <% end %>
  </div>
  <div class="create-room">  
    <a href="#">チャットを作成する</a>
  </div>
</div>
<!-- rooms --->
<div class="rooms">
  <div class="room">
    <div class="room-name">
      <a href="#">teachroom1</a>
    </div>
  </div>
</div>
