<div class="form">
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>
  


.form-input{
  width: 100%;
  background-color: white;
  display: flex;
}

.form-message{
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border: none;
  
}

.form-submit{
  height: 50px;
  padding: 0 20px;
  margin-left: 15px;
  font-size: 16px;
  color: white;
  border: none;
  background-color: #white;
}